{
  "presets": [["env"], "react"],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
