.shows {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
